<div>
    <div className="cathat-head">
        <h1>CatHat</h1>
        <h4>A New Approach to Education</h4>
    </div>
    <div>
        <div>
            <ul>
                <li>
                    <div>
                        {{#each courses }}
                            <p>{{this.course_code}} : {{this.course_name}}</p>
                            <p>Join Code: {{this.join_code}}</p>
                        {{/each}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>