<a href="#">Cat Hat</a>
<a href="#">Aaron Simpson</a>
<a href="/signout">Log Out</a>
<div>
    <h2>CIS 101: Introduction to Programming</h2>
    <h4>Join Code: <%= join_code %></h4>
    <div>
    </div>
</div>