<div id="createCourse", class="modal">
    <div class="modal-content">
        <div id="create" class="cathat-body modal-body">
            <div class="modal-header">
                <h2>Create a Course</h2>
            </div>
            <form action="/c" method="POST">
                <ul>
                    <li>
                        <label class="label" for="course_name">Course Name: (Required)</label>
                        <input class="input-box" type="text" name="course_name" id="course_name" required />
                    </li>
                    <li>
                        <label class="label" for="start_date">Course Start Date: (Required)</label>
                        <input class="input-box" type="date" name="start_date" id="start_date" required />
                    </li>
                    <li>
                        <label class="label" for="subject">Subject: (Required)</label>
                        <input class="input-box" type="text" name="subject" id="subject" required />
                    </li>
                    <li>
                        <label class="label" for="course_code">Course Code: (Required)</label>
                        <input class="input-box" type="text" name="course_code" id="course_code" required />
                    </li>
                    <li>
                        <label class="label" for="course_description">Course Description: </label>
                        <input class="input-box" type="text" name="course_description" id="course_description" />
                    </li>
                    <li>
                        <div>
                            <button class="submit-button" type="submit">Create Course</button>
                        </div>
                    </li>
                </ul>
            </form>
            <span class="close">Cancel</span>
        </div>
    </div>
</div>