<div>
    <div className="cathat-head">
        <h1>CatHat</h1>
        <h4>A New Approach to Education</h4>
    </div>
    <div>
        <div>
            <a href="/courses">Courses</a>
        </div>
    </div>
</div>