<div class="cathat-head">
    <ul class="nav-bar">
        <li><h1>CAT HAT</h1></li>
        <li><a class="home-link" href="/signin">Log In</a></li>
        <li><a class="home-link" href="/signup">Sign Up</a></li>
    </ul>
</div>
<div class="cathat-body">
    <div class="body-section a">
        <h2>Reinventing education for the cloud era</h2>
        <p>Cat Hat is a cloud-based education platform, empowering tomorrow's instructors with tools of
            the modern world. Built cross-platform for web, iOS, and Android.</p>
        <p>No platform will better serve your needs.</p>
        <small>Try Cat Hat free!</small>
        <a class="home-link" href="/signup">Start Free</a>
    </div>
    <div class="body-section b">
        <h2>Engage your classroom</h2>
        <p>Cat Hat gives you the virtual classroom you've always wanted with an interactive textbook
            reader, polls, instant pop quizzes, and attendance-checking.</p>
    </div>
    <div class="body-section a">
        <h2>No Hassle. No Paperwork. No Problem</h2>
        <ul>
            <li>
                <div>
                    <h4>Responsive and available across multiple platforms.</h4>
                    <p>Cat Hat supports all modern browsers, as well as smartphones through Android and iOS.</p>
                </div>
            </li>
            <li>
                <div>
                    <h4>Quick and Integrated.</h4>
                    <p>Gone are the days of handling paper quizzes and interrupting lecture. Give immediate pop
                        quizzes sent instantly to student devices and receive results in real-time.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h4>Free to get started. No upfront cost.</h4>
                    <p>Cat Hat is open-source, taking advantage of a wide developer community and making it accessible to all.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="body-section b">
        <h2>Ready to get started?</h2>
        <p>Sign up now and start teaching</p>
        <a class="home-link" href="/signup">Get Started</a>
    </div>
</div>
