<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatHat - Home</title>
</head>
<body>
    <div>
        <div className="cathat-head">
            <h1>CatHat</h1>
            <h4>A New Approach to Education</h4>
        </div>
        <div className="cathat-body">
            <h4>CatHat Puma</h4>
            <p>Increase classroom engagement in a modern way using our cloud-based
            software platform. Built from the ground up for students and educators
            alike.</p>
            <p>Available on the web, Android, and iOS.</p>
            <div>
                <a href="./signup">Start Free</a>
            </div>
            <small>Already a valued member? <a href="./signin">This way!</a></small>
            <hr />
            <h4>Why CatHat Puma?</h4>
            <p>A more engaging classroom experience in the palm of your hand.</p>
            <ul>
                <li>
                    <div>
                        <h5>Responsive and available across multiple platforms, like web and mobile.</h5>
                    </div>
                </li>
                <li>
                    <div>
                        <h5>Free to get started. No upfront cost.</h5>
                    </div>
                </li>
                <li>
                    <div>
                        <h5>Designed for student and educator engagement.</h5>
                    </div>
                </li>
                <li>
                    <div>
                        <h5>Built with usability in mind.</h5>
                    </div>
                </li>
            </ul>
            <div>
            <a href="./signup">Start Free</a>
        </div>
    </div>
</body>
</html>