<div id="joinCourse", class="modal">
    <div class="modal-content">
        <span class="close">Cancel</span>
        <div class="modal-header">
            <h2>Join a Course</h2>
        </div>
        <div class="modal-body">
            <form action="/c" method="POST">
                <ul>
                    <li>
                        <label for="join_code">Join Code:</label>
                        <input type="text" name="join_code" id="join_code" required />
                    </li>
                    <li>
                        <div>
                            <button type="submit">Join Course</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>