<div id="joinCourse", class="modal">
    <div class="modal-content">
        <div id="join" class="cathat-body modal-body">
            <div>
                <h2>Join a Course</h2>
            </div>
            <form action="/c" method="POST">
                <ul>
                    <li>
                        <label class="label" for="join_code">Join Code:</label>
                        <input class="input-box" type="text" name="join_code" id="join_code" required />
                    </li>
                    <li>
                        <div>
                            <button class="submit-button" type="submit">Join Course</button>
                        </div>
                    </li>
                </ul>
            </form>
            <span class="close">Cancel</span>
        </div>
    </div>
</div>