<h1 id="heading1">Heading 1</h1>
<h2 id="heading2">Heading 2</h2>
<h3 id="heading3">Heading 3</h3>
<h4 id="heading4">Heading 4</h4>
<h5 id="heading5">Heading 5</h5>
<h6 id="heading6">Heading 6</h6>
<hr />
<h2 id="">#</h2>
<p><strong>BOLDED</strong>
<em>ITALIC</em>
<strong><em>BOLDED ITALIC</em></strong></p>
<blockquote>
  <p>BLOCKQUOTE</p>
  <blockquote>
    <p>BLOCKQUOTE 2</p>
    <blockquote>
      <p>BLOCKQUOTE 3</p>
    </blockquote>
  </blockquote>
</blockquote>
<ul>
<li>List item 1</li>
<li>List item 2</li>
<li>List item 3</li>
<li>List item 4</li>
<li>List item 5</li>
<li>List item 6</li>
</ul>
<ol>
<li>Ordered list item 1</li>
<li>Ordered list item 2</li>
<li>Ordered list item 3</li>
<li>Ordered list item 4</li>
<li>Ordered list item 5</li>
</ol>
<h3 id="code">Code</h3>
<pre><code># code comment
print('Hello World')

print('Hello World 2')

print('Hello World 3')
</code></pre>
<pre><code class="js language-js">function helloWorld() {
    console.log("HELLO WORLD");
}
</code></pre>
<p>| Option | Description |
| ------ | ----------- |
| data   | path to data files to supply the data that will be passed into templates. |
| engine | engine to be used for processing templates. Handlebars is the default. |
| ext    | extension to be used for dest files. |</p>
<p><a href="https://google.com">Google</a></p>
<p><img src="https://cdn.iconscout.com/icon/free/png-256/stripe-2-498440.png" alt="Stripe logo" /> </p>