<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatHat - Sign In</title>
</head>
<body>
    <div>
        <div className="cathat-head">
            <h1>CatHat Puma</h1>
        </div>
        <div className="cathat-body">
            <h3>Log In</h3>
            {{#error}}
                <p>ERROR: Incorrect username or password</p>
            {{/error}}
            <form action="/signin" method="POST">
                <div>
                    <input type="text" name="email" placeholder="Email" />
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <div>
                    <button name="enter" type="submit">Login</button>
                </div>
            </form>
            <small>Don't have an account? <a href="./signup">Sign up.</a></small>
        </div>
    </div>
</body>
</html>