<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatHat - Sign Up</title>
</head>
<body>
    <div>
        <div className="cathat-head">
            <h1>CatHat Puma</h1>
        </div>
        <div className="cathat-body">
            <h3>Sign Up</h3>
            <form action="/signup" method="POST">
                <ul>
                    <li>
                        <div>
                            <label for="school">School: </label>
                            <input type="text" id="school" name="school_name" placeholder="Your School" required />
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="identity">You Are: </label>
                            <select id="identity" name="is_instructor" required>
                                <option value="0">Student</option>
                                <option value="1">Instructor</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="email">Email: </label>
                            <input type="email" id="email" name="email" placeholder="Email" required />
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="firstName">First Name: </label>
                            <input type="text" id="firstName" name="first_name" placeholder="First Name" required />
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="lastName">Last Name: </label>
                            <input type="text" id="lastName" name="last_name" placeholder="Last Name" required />
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="password">Password: </label>
                            <input type="password" id="password" name="password" placeholder="Password" required />
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="confirm_password">Confirm Password: </label>
                            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required />
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" id="agree" name="EULA" value="1" required />
                            <label for="agree">I agree to the Terms and Conditions.</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button type="submit">Start learning for free</button>
                        </div>
                    </li>
                </ul>
            </form>
            <small>Already a valued member? <a href="/signin">Sign in.</a></small>
        </div>
    </div>
</body>
</html>