<div className="cathat-head">
    <div>
        <h1>CAT HAT</h1>
    </div>
</div>
<div>
    <h2>Sign In</h2>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/signin" method="POST">
        <ul>
            <li>
                <label for="email">Email: </label>
                <input type="text" name="email", id="email" placeholder="Enter Email" required />
            </li>
            <li>
                <label for="password">Password: </label>
                <input type="password" name="password", id="password" placeholder="Enter Password" required />
            </li>
            <li>
                <div>
                    <button type="submit">Log In</button>
                </div>
            </li>
        </ul>
        <small>Don't have an account? <a href="/signup">Register now.</a></small>
    </form>
</div>