.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.cathat-head .home-link {
    float: right;
}

.home-link, .home-link:visited {
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 1px solid #635BFF;
    padding: 7px 25px;
    background-color: #635BFF;
    border-radius: 5px;
    text-decoration: none;
    margin: 1px 5px;
}

.nav-bar h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0A2540;
    font-size: x-large;
}

.nav-bar li, .nav-bar h1 {
    display: inline;
}

.nav-bar {
    margin: 10px;
}

.cathat-body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-top: 30px;
    text-align: center;
}

.cathat-body h2 {
    font-weight: bold;
    color: #0A2540;
    font-size: xx-large;
}

.body-section {
    margin-top: 30px;
    padding: 25px;
}

.a {
    background-color: #cccae9;
}